<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <main>
    <a href="/home">&#9666; Pagina Inicial</a>
    <div class="container contact-container">
        <h2>Entre em Contato</h2>

        <div class="contact-info">
            <h4>Contato:</h4>
            <p>
                Email: info@financasolucoes.com<br>
                Telefone: (12) 3456-7890<br>
                WhatsApp: (12) 98765-4321
            </p>
        </div>

        <div class="contact-info">
            <h4>Redes Sociais:</h4>
            <p>
                <a href="#" target="_blank">Facebook</a><br>
                <a href="#" target="_blank">Twitter</a><br>
                <a href="#" target="_blank">LinkedIn</a>
            </p>
        </div>
    </div>
    </main>
    <script src="/js/main.js"></script>
</body>
</html>