<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <main>
    <div class="topnav">
      <a class="active" href="/">Inicio</a>
      <a href="/financas">Finanças</a>
      <a href="/filtro">Filtragem</a>
      <a href="/contato">Contato</a>
    </div><br>

    <h1>Finance Soluções & Consultoria Financeira</h1> <br>

    <h3>Missão:</h3>
    <p>Capacitar nossos clientes a alcançarem estabilidade financeira e prosperidade, oferecendo serviços de consultoria personalizados e uma plataforma digital intuitiva para gerenciar despesas e receitas de forma eficaz.</p><hr>

    <h3>Serviços:</h3>
    <p>Oferecemos uma gama abrangente de serviços financeiros para ajudar indivíduos e empresas a atingirem seus objetivos financeiros. Nosso principal foco é fornecer consultoria personalizada e uma plataforma digital inovadora para o gerenciamento eficiente das finanças.</p><hr>

    <h3>Valores:</h3>
    <p>Acreditamos firmemente em nossos valores fundamentais, que orientam cada interação com nossos clientes e moldam o impacto positivo que buscamos na vida financeira deles. Nossos valores refletem a base ética e o compromisso que temos em capacitar nossos clientes a alcançarem estabilidade financeira e prosperidade.</p><hr>
  </main>
  <script src="/js/main.js"></script>
</body>
</html>